.track {
  display: flex;
  padding: 16px;
  gap: 16px;
  color: white;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.track:hover {
  background-color: #1db954;
  color: black;
}

.track-selected {
  display: flex;
  padding: 16px;
  gap: 16px;
  background-color: #2e6140;
  color: white;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.track-image {
  height: 120px;
  border: 3px solid black;
}

.track-info {
  text-align: left;
}

.track-name {
  margin: 0 0;
  font-size: 18px;
  font-weight: 800;
}

.track-artist {
  margin-top: 0;
}

.track-popularity {
  font-size: 24px;
  font-weight: bolder;
}
