.playlist {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 16px;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  gap: 16px;
}

.playlist:hover {
  background-color: #1db954;
  color: black;
}

.playlist:active {
  background-color: #2e6140;
}

.playlist-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.playlist-image {
  height: 80px;
  border: 2px solid black;
}

.playlist-title {
  margin: 0 0;
  font-size: 18px;
  font-weight: 800;
}

.playlist-size {
  font-size: 14px;
}
