.button-container {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;

  background-color: #282c34;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.button {
  all: unset;
  color: black;
  background-color: #1db954;
  padding: 10px 16px;
  border-radius: 12px;

  height: 25px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #1ed760;
}

.button:active {
  background-color: #2e6140;
}

.spotify-login {
  text-decoration: none;

  color: black;
  background-color: #1db954;
  padding: 10px 16px;
  border-radius: 12px;

  height: 25px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin: 16px;
}
