#root {
  height: 100vh;
}

html,
body {
  background-color: #282c34;
  height: 100%;
  margin: 0;
  color: white;
  text-align: center;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 28px;
  font-weight: 800;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 18px;
}

.content {
  flex: 1;
  overflow: auto;
}

.subtitle {
  color: white;
  padding: 16px;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}
